/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2016, 11:19:14 AM
    Author     : dharani
*/


html, body {
    background-color: #59c4bc;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
}
.surveyContentContainer {
    width: 90%;
    height: 80%;
    margin: 0 auto;
}
.surveyContent {
    width: 80%;
    height: 58%;
    margin: 0 auto;
    background-color: #16bad6;
    margin-bottom: 2%;
    border-radius: 10px;
}
.surveyHome {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    font-family: 'Myriad-Bold';
    font-size: 30px;
    color: #FFFFFF;
}
.surveyHome > div {
    width: 90%;
    height: 30%;
    margin: 0 auto;
}
.surveyQuestionsContainer {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    font-family: 'Myriad-Bold';
    font-size: 30px;
    color: #FFFFFF;
}
.surveyQuestion {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}
.surveySignature {
    width: 100%;
    height: 25%;
}
.surveyActionContainer {
    width: 80%;
    height: 30%;
}
.surveyActions {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.surveyActions > div {
    width: 45%;
    height: 50%;
    background-color: #FCB040;
    border-radius: 10px;
    font-family: 'Myriad-Bold';
    font-size: 35px;
}
.surveyOptions {
    width: 100%;
    height: 100%;
}
.surveyOptions > div {
    width: 48%;
    height: 43%;
    background-color: #FCB040;
    border-radius: 10px;
    font-family: 'Myriad-Bold';
    font-size: 35px;
    text-align: center;
}
.surveyNavigation {
    width: 90%;
    height: 20%;
    margin: 0 auto;
}
.surveyNavigation > div {
    width: 50%;
    height: 100%;
}
.surveyNavigation > div > div {
    width: 60%;
    height: 43%;
    background-color: #16bad6;
    border-radius: 10px;
    font-family: 'Myriad-Bold';
    font-size: 35px;
}

/*IPAD Portrait mode starts*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation : portrait){
    .surveyContentContainer {
        height: 90%;
    }
    .surveyNavigation {
        height: 15%;
    }
    .surveyContent {
        width: 95%;
    }
    .surveyActions > div {
        width: 43%;
        height: 40%;
        font-size: 32px;
    }
    .surveySignature > div {
        font-size: 20px;    
    }
    .surveyQuestion {
        height: 93%;
        font-size: 28px;
    }
    .surveyOptions > div {
        font-size: 25px;
        height: 40%;
    }
    .surveyNavigation > div > div {
        font-size: 28px;
        height: 73%;
    }
}
/*IPAD Portrait mode ends*/

/*IPAD Landscape mode starts*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation : landscape){
    .surveyContentContainer {
        width: 100%;
        height: 85%;
    }
    .surveyContent {
        width: 85%;
    }
    .surveyContentContainer {
        height: 90%;
    }
    .surveyNavigation {
        height: 15%;
    }
    .surveyActions > div {
        width: 40%;
        font-size: 30px;
    }
    .surveyQuestionsContainer {
        width: 95%;
        font-size: 28px;
    }
    .surveySignature > div {
        font-size: 20px;    
    }
    .surveyOptions > div {
        font-size: 24px;
    }
    .surveyNavigation > div > div {
        width: 45%;
        height: 75%;
        font-size: 25px;
    }
}
/*IPAD Landscape mode ends*/

/*Mobile*/
/*IPONE Portrait mode starts*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)  and (orientation : portrait) {
    .surveyHome {
        font-size: 18px;
    }
    .surveyHome > div {
        width: 100%;
        height: 35%;
        margin: 0 auto;
    }
    .surveyContent {
        width: 90%;
        height: 60%;
    }
    .surveyQuestion {
        height: 77%;
    }
    .surveySignature {
        height: 23%;
    }
    .surveyActions {
        width: 100%;
    }
    .surveyActions > div {
        font-size: 20px;
        border-radius: 5px;
    }
    .surveyQuestionsContainer {
        font-size: 19px;
    }
    .surveyActionContainer {
        width: 90%;
    }
    .surveySignature > div {
        font-size: 14px;
    }
    .surveyOptions > div {
        font-size: 15px;
        border-radius: 5px;
    }
    .surveyNavigation > div > div {
        width: 90%;
        font-size: 15px;
        height: 55%;
        border-radius: 5px;
    }
}
/*IPONE Portrait mode ends*/

/*IPHONE Landscape mode starts*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)  and (orientation : landscape) {
    .surveyOptions > div {
        width: 45%;
        height: 45%;
        border-radius: 6px;
        font-size: 14px;
    }
    .surveyQuestionsContainer {
        font-size: 18px;
        width: 95%;
    }
    .surveySignature {
        font-size: 12px;
        height:30%;
    }
    .surveyQuestion {
        height: 70%;
    }
    .surveyNavigation > div > div {
        width: 43%;
        height: 80%;
        border-radius: 5px;
        font-size: 18px;
    }
    .surveyHome {
        font-size: 21px;
    }
    .surveyActions > div {
        width: 35%;
        height: 75%;
        border-radius: 5px;
        font-size: 20px;
    }
    .surveyContent {
        width: 100%;
        height: 60%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .displayResidentName  > img{
        width:30px;
        height:30px;
    }
    .surveyActionContainer {
        width: 90%;
        height: 30%;
    }
    .surveyContentContainer {
        height: 90%;
    }
    .surveyNavigation {
        height: 18%;
    }
}
/*IPHONE Landscape mode ends*/

/*Other Mobile devices Portrait mode starts*/
@media screen and (min-width:350px) and (max-width: 450px) {
    .surveyContent {
        width: 95%;
    }
    .surveyContentContainer {
        height: 90%;
    }
    .surveyNavigation {
        height: 15%;
    }
    .surveyHome {
        width: 100%;
        font-size: 20px;
    }
    .surveyActions {
        width: 100%;
    }
    .surveyActions > div {
        font-size: 23px;
        border-radius: 5px;
        height: 45%;
    }
    .surveyQuestionsContainer {
        font-size: 18px;
    }
    .surveySignature {
        font-size: 14px;
        height: 22%;
    }
    .surveyActionContainer {
        width: 95%;
    }
    .surveyQuestion {
        height: 78%;
    }
    .surveyOptions > div {
        font-size: 17px;
        border-radius: 5px;
    }
    .surveyNavigation > div > div {
        width: 85%;
        height: 75%;
        font-size: 20px;
        border-radius: 5px;
    }
}
/*Other Mobile devices Portrait mode starts*/

/*Other Mobile devices Landscape mode starts*/ 
@media screen and (min-width:600px) and (max-width:750px) {
    .surveyContent {
        width: 100%;
        height: 75%;
    }
    .surveyNavigation {
        height: 15%;
    }
    .surveyHome {
        font-size: 20px;
    }
    .surveyContentContainer {
        height: 100%;
    }
    .surveyOptions {
        width: 100%;
        margin: auto;
    }
    .surveyActions > div {
        height: 65%;
        width:30%;
    }
    .surveyActionContainer {
        height: 25%;
        width: 100%;
    }
    .surveyQuestionsContainer {
        height: 95%;
    }
    .surveyOptions > div {
        height: 75%;
        width: 24%;
        border-radius: 5px;
        font-size: 14px;
    }
    .surveyNavigation > div > div {
        height:90%;
    }

}
/*Other Mobile devices Landscape mode ends*/ 

/*desktop starts*/
@media only screen and (min-device-width: 1280px) and (max-device-height: 768px){

}

@media only screen and (min-width: 1280px) {

}
/*Desktop ends*/