/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2016, 9:34:37 AM
    Author     : Abirami v
*/
html, body {
    background-color: #59c4bc;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
}
.servicesContentContainer{
    width: 90%;
    height: 100%;
    margin: auto;
}
.contentScroll{
    width: 90%;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
}
.maintenanaceList{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.requestIssueContainer{
    width: 95%;
    height: 15%;
    margin: auto;
}
.requestIssueContent{
    width:90%;
    height:75%;
    background-color: #16bad6;
    color:#ffffff;
}
.requestIssueIcon{
    width: 18%;
    height: 100%;
}
.requestIssueNameContainer {
    width:82%;
    height:100%;
}
.requestName{
    font-family: 'Myriad-Bold';
    font-size: 33px;
}
.requestIssueIcon > img {
    width: 50px;
    height: 50px;
}
.popUpContainer{
    width:100%;
    height:40%;
    margin:auto;
}

//popup design starts

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
    transition: opacity 500ms;
}
.parentPopup
{
     width: 80%;
    height: 30%;
    margin: auto;
}
.alert-popup {
    background: #fff;
    width: 80%;
    height: 25%;
    margin: auto;
    font-family: 'Myriad-Regular';
    font-size: 25px;
    color: #969090;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 10%;
}
.alert-icon-main {
    width: 100%;
    height: 28%;
    background-color: #F4B936;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert-icon {
    width: 7%;
    height: 65%;
    color: transparent;
    border: 6px solid #ffffff;
    border-radius: 50px;
    margin: auto;
}
.exc-symbol {
    margin-top: 13%;
    color: #ffffff;
    font-size: 45px;
}
.alertMessage {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 29px;
}
.alert-action {
    width: 100%;
    height: 27%;
}
.alert-action > div {
    width: 20%;
    height: 90%;
    background-color: #F4B936;
    color: #ffffff;
    border-radius: 10px;
}
 .triangle-up {
   width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 32px solid #F4B936;
    position: absolute;
    left: 48%; 
    
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 32px solid #ffffff;
        position: absolute;
        left: 48%; 
}
            

//pop up ends
/*IPAD Portrait mode starts*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation : portrait){
 
}
/*IPAD Portrait mode ends*/

/*IPAD Landscape mode starts*/
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation : landscape){
    .requestIssueContainer {
        height: 25%;
    }
    .alert-popup {
        height: 45%;
    }
}
/*IPAD Landscape mode ends*/
/*Mobile*/
/*IPONE Portrait mode starts*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)  and (orientation : portrait) {

    .requestIssueIcon > img {
        width: 30px;
        height: 30px;
    }
    .requestIssueContainer {
        width: 100%;
    }
    .requestName {
        font-size: 14px;
    }
}
/*IPONE Portrait mode ends*/
/*IPHONE Landscape mode starts*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)  and (orientation : landscape) {
    .requestIssueContainer {
        height: 25%;
    }
    .requestIssueIcon > img {
        width: 25px;
        height: 25px;
    }
    .requestName {
        font-family: 'Myriad-Bold';
        font-size: 20px;
    }
}
/*IPHONE Landscape mode ends*/

/*Mobile*/
/*Other Mobile devices Portrait mode starts*/
@media screen and (min-width:350px) and (max-width: 450px) {
    .requestIssueContainer {
        width: 100%;
        height: 15%;
    }
    .requestIssueIcon > img {
        width: 30px;
        height: 30px;
    }
    .requestName {
        font-family: 'Myriad-Bold';
        font-size: 17px;
    }
}
/*Other Mobile devices Portrait mode ends*/
/*Other Mobile devices Landscape mode starts*/ 
@media screen and (min-width:600px) and (max-width:750px) {


}
/*Other Mobile devices Landscape mode ends*/ 
